/*
 * vars.less
 *
 * Copyright 2012 We Are Difrnt
 *
 * Developed by @utroda, http://www.wearedifrnt.com.
 */
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../font/opensans-regular-webfont.eot');
    src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular-webfont.woff') format('woff'),
         url('../font/opensans-regular-webfont.ttf') format('truetype'),
         url('../font/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*------------------------------------*\
  :: Links
\*------------------------------------*/
@link:#28251f;
@link-hover:#6e3436;
@link-focus:#c8593b;

/*------------------------------------*\
  :: Base Colors
\*------------------------------------*/
@black: #000;
@white: #fff;

/*------------------------------------*\
  :: Button Colors
\*------------------------------------*/
@red: #f3546e;
@dark-red: #c92644;
@green:#92c65e;
@dark-green:#4f7432;
@blue:#61a9b9;
@dark-blue:#649faf;
@orange:#f27a2a;
@dark-orange:#c13a05;

/*------------------------------------*\
  :: Base Typography
\*------------------------------------*/
@base-font-size: 13px;
@base-font-family: Helvetica Neue, Helvetica, Arial;
@base-line-height: 19px;
@alt-font-family: "Open Sans", Helvetica Neue, Helvetica, Arial;
@color:#434343;
/*------------------------------------*\
  :: Base Headings
\*------------------------------------*/
@heading-color:#2d2d2d;
@header-sub-color:#b7b3b3;
@heading-weight:600;
@headings-font-family:    inherit; // empty to use BS default, @baseFontFamily
@headings-font-weight:    bold;    // instead of browser default, bold

/*------------------------------------*\
  :: Base Image Paths
\*------------------------------------*/
@icon-path: "../images/icons/icons.png";
@img: "../img"; // to use must wrap in @{img}